<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="hidden-md-down hidden-md-up">
  <div class="background" style=" background-image: url(./../../../assets/images/preview.png);
  position: relative;">
    <app-header></app-header>
    <div class="background bg-dark" style=" background-image: url(./../../../assets/images/preview.png);
  position: relative;">
      <app-home></app-home>
      <app-footer></app-footer>
      <app-country-chart></app-country-chart>
      <app-state-chart></app-state-chart>
    </div>
  </div>

  <div>

  </div>

</body>

</html>
