<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="container-fluid">
  <div class="row m-2 p-2">
    <div class="col col-xs-12 col-md-12 text-center hidden-md-down hidden-md-up">
      <div class="card" style=" height: 95vh; background-color: rgb(51, 58, 69) ; position: relative;">
        <div class="card-heder m-2 p-3 text-white">
          <div>
          <div class="card-body">
            <div class="m-1">
              <div style="position: relative; height:40vh; width:auto">
                <canvas id="can"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
</div>
